.user {
    color: black;

  }

  .navbar {
    background-color: white
    
  }

  .sidebar {
    background-color: #ffffff;
    width: 250px; 
    height: 100vh; 
    overflow-y: auto;
    position: fixed; 
    top: 0; 
    left: 0; 
    border-right: 1px solid rgba(0, 0, 0, 0.1); 
  }
  .sidebar .icon {
    margin-right: 10px; 
}

@media (max-width: 768px) {
    .sidebar {
        width: 200px; 
    }
}

@media (max-width: 576px) {
    .sidebar {
        width: 100%; 
        position: relative; 
        height: auto; 
    }
}
  .sidebar div {
    padding: 8px;
    padding-left: 20px;
    font-size: 20px;
    display: block;
  }

  .icon {
    color: #e76a35
  }

  .body-text {
    margin-left: 250px;
    font-size: 18px;
  }

  .sidebar a {
    color: black;
    text-decoration: none;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1d3268 !important;
    border-color: #1d3268 !important;
  }
  .btn-bg-orange{
    background-color:#e76a35;
    color: white
  }
  .btn-bg-blue{
    background-color:#1d3268;
    color: white
  }
  .btn-bg-danger{
    background-color:red;
    color: white
  }

  .btn-bg-warning{
    background-color:#f0ad4e;
    color: white
  }

  .btn-tooltip {
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-tooltip .bi {
    vertical-align: text-bottom;
}

.btn-tooltip .btn-text {
    position: absolute;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1;
}
.btn-tooltip:hover {
    color: white; 
}
.btn-tooltip:hover .btn-text {
    opacity: 1;
}
.table-responsive {
  overflow-x: auto; 
}

#myDataTable thead th {
  position: sticky; 
  top: 0;
  background-color: white; 
  z-index: 1000; 
  text-align: center; 
}

#myDataTable tbody td {
  text-align: left; 
}

  