:root {
     --primary: #f15a29;
     --secondary: #2d3b91;
     --white: #ffffff;
}

.hoverbtns:hover {
     display: block;
     content: '';
     border-bottom: solid 3px var(--primary);
     transform: translateX();
     transition: transform 250ms ease-in-out;
}

.centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: var(--primary);
     color: var(--white);
}

.top {
     height: 50px;
     background-color: var(--primary);
}

div.social {
     padding: 7px 10px 7px 7px;
     text-align: right;
     padding-right: 10%;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social a {
     color: var(--white);
     margin-top: 30px;
     margin-left: 20px;
     text-decoration: none;
     padding-right: 10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mundrankan {
     height: 70px;
}

.leftaligncontact {
     padding-left: 200px;
     text-align: left;
     margin-top: 30px;
}

.logo {
     align-items: center;
     height: 10%;
     width: 60%;

}

.col-lg-4 a {
     margin-top: 30px;
     margin-left: 20px;
     padding: 10px;
     text-decoration: none;
     color: black;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-lg-4 {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {

     text-decoration: none;
     color: black;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link {
     color: black;
}

.bg-light {
     background-color: var(--white) !important;
}

.navbar-text-center {
     text-align: center;
}

.footerlogo {
     align-items: center;
     height: 30%;
     width: 80%;
}

.p {
     font-family: 'Times New Roman', Times, serif, bold;
     text-align: center;
}

.li {
     list-style-type: none
}

.title {
     padding-top: 30px;
     text-align: center;
}

.title1 {
     padding-top: 10px;
     text-align: center;
     color: #f15a29;
}

.ofc {
     padding-left: 100px;
     padding-right: 100px;

}


.head {
     font-family: 'Times New Roman', Times, serif, bold;
     text-align: center;
     justify-content: center;
     text-decoration: none;
     padding: 10px;
}

.homeTab {
     display: flex;
     justify-content: space-evenly;
     list-style-type: none;
     margin: 4% 0;
}

.homeTab li {
     border-radius: 5px;
     border: 1px solid var(--primary);
     padding: 1% 3%;
     width: 20%;
     text-align: center;
     transition: all 0.4s;
}

.vc {

     font-size: 25px;
     font-family: 'Times New Roman', Times, serif;


}

.homeTab li:hover {
     cursor: pointer;
     background-color: var(--primary);
     color: var(--white);
}

.carousel-control-next-icon {
     background-color: var(--primary);
}

.carousel-control-prev-icon {
     background-color: var(--primary);
}


.lastcar {
     position: relative;
     display: inline-flex;
     margin-left: 120px;
     margin-top: 30px;



}

.breadcrumb {
     background-color: var(--primary);
     color: var(--white);
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.btn {
     background-color: var(--white);
     border: 1px solid var(--primary);
}

.col-6:hover {
     opacity: 0.5;


}


.col-lg-6 img {
     margin-top: 50px;
     height: 350px;
     width: 550px;
}

.list li {

     list-style-type: none;
     display: flex;
     justify-content: space-between;
     font-size: 15px;
     padding-bottom: 10px;
     font-weight: 500;
     text-align: left;
}

.list li img {
     width: 50px;
     height: 50px;
     padding-right: 10px;
}


.col-lg-4 {
     padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 20px;
     padding-left: 20px;
}

.col-lg-4 p {
     text-align: center;
     padding-top: 5px;
     font-size: 18px;

}

.col-lg-4 p a {
     color: #f15a29;
}


.col-lg-6 p {
     font-size: small;
     text-align: start;
}

.col-lg-6 img:hover {
     -webkit-transform: scale(1.3);
     transform: scale(1.3);
}

.form {
     font-family: 'Times New Roman', Times, serif;
     font-weight: 1px;
}

.sechoverbuttons:hover {
     display: block;
     content: '';
     border-top: solid 3px var(--primary);

     transition: transform 250ms ease-in-out;

}


.myaccount {
     text-align: center;
     justify-content: center;
     display: flex;
     font-family: 'Times New Roman', Times, serif;


}

.check {
     background-color: #f9f9f9;
     height: 100px;
     color: black;
     text-align: center;
     justify-content: center;
     font-family: 'Times New Roman', Times, serif;
     padding-top: 30px;


}